/* # root */
:root {
    --font-PS2: 'Press Start 2P', cursive;
    --font-Bar: 'Barlow', sans-serif;

    --font-size-category-title: 25px;
    --font-size-footer: 14px;

    --color-main: #224A88;
    --color-sub: #C50024;
    --color-wrap: #B8B8B8;
    --color-display: #CAD362;
    --color-black: #333333;
    --color-back: #f0f0f0;
    --color-code: #b5f189;

    --blink-2: blink .2s alternate infinite;
    --blink-5: blink .5s alternate infinite;
    --shake-2: shake .2s alternate infinite;
    --shake-5: shake .5s alternate infinite;
    --vibration-2: vibration .1s alternate-reverse 2;
}

/* # scroll */
::-webkit-scrollbar {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    width: 10px;
    height: auto;
    border-radius: 3px;
    background-color: var(--color-black);
}

/* # body */
body {
    width: 100vw;

    background-color: var(--color-back);

    overflow-x: hidden;
}

/* # header */
/* logo */
header {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 100px;

    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);

    font-family: var(--font-PS2);
    text-align: center;

    z-index: 1;
}

h1 {
    font-size: 0;
}

h1::before {
    content: "HTML&CSS";
    margin-right: 5px;

    font-family: var(--font-Bar);
    font-size: 18px;
    font-weight: 800;
    color: var(--color-main);
}

/* navi */
header>input[type="checkbox"] {
    display: none;
}

header>input[type="checkbox"]:checked+label+nav {
    transform: scale(1, 1);
}

header>label {
    font-size: var(--font-size-footer);
    color: var(--color-main);
    text-align: center;

    animation: var(--shake-5);
    cursor: pointer;
}


header>label>img {
    margin: 0 0 2px 4px;
}

/* content navigation */
.content-navi {
    position: absolute;
    top: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: calc(100vh - 170px);
    transform: scale(1, 0);

    background-color: rgba(165, 165, 165, 0.9);

    transition: transform .5s cubic-bezier(0, 0.03, 0, 0.85);
    overflow-y: hidden;
}

.content-navi a,
.content-navi label {
    display: inline-block;
    position: relative;

    margin-bottom: 20px;

    font-size: 25px;
    color: white;

    transition: text-shadow, transform .2s, .2s;
    cursor: pointer;
}

.to-main {
    margin-top: 50px;
}

.to-main>a {
    color: var(--color-black);
}

.to-about>a {
    color: var(--color-main);
}

.menu-closed>label {
    color: var(--color-sub);
}

.content-navi a::before,
.content-navi a::after,
.content-navi label::before,
.content-navi label::after {
    position: absolute;
    top: -4px;

    display: none;
}

.content-navi a::before,
.content-navi label::before {
    content: url(../images/icon/menu-hover-before.svg);
    left: -20px;
}

.content-navi a::after,
.content-navi label::after {
    content: url(../images/icon/menu-hover-after.svg);
    right: -20px;
}

/* content menu hover */
.content-navi a:hover,
.content-navi label:hover {
    text-shadow: 2px 2px #dddddd;
    transform: translate(-2px, -2px);
}

.content-navi a:active,
.content-navi label:active {
    text-shadow: none;
    transform: translate(2px, 2px);
}

.content-navi a:hover::before,
.content-navi a:hover::after,
.content-navi label:hover::before,
.content-navi label:hover::after {
    display: inline-block;
    animation: var(--blink-2);
}


/* # footer */
footer {
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 70px;

    background-color: white;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, .3);
}

footer * {
    font-family: var(--font-Bar);
    font-size: var(--font-size-footer);
    color: var(--color-main);
}

footer>div {
    max-width: 900px;
    margin: 0 auto;
    clear: both;
}

/* mail */
.mail {
    height: 70px;
    text-align: left;
    line-height: 70px;

    float: left;
}

.mail img {
    vertical-align: middle;
    margin: 0 4px 2px 0;
}

/* blog */
.blog {
    text-align: right;
    float: right;
}

.blog>article {
    height: 35px;
    line-height: 35px;
}

.blog a {
    margin-left: 7px;
}

.blog img {
    vertical-align: bottom;
    margin-bottom: 7px;
}

.blog>p {
    position: relative;
    height: 35px;
    line-height: 20px;
}

.blog>p::before {
    content: url(../images/icon/copyright.svg);
    position: absolute;
    top: 2px;
    left: 8px;
    margin-right: 4px;
}

/* # animation */
@keyframes blink {
    0% {
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translate(0, 3px);
    }
}

@keyframes vibration {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }
}

/* # media */
@media screen and (max-width: 910px) {
    .content-menu>li:nth-child(even) {
        /* margin-left: 20px; */
    }

    footer>div {
        padding: 0 50px;
        box-sizing: border-box;
    }
}