.content-wrap {
    max-width: 900px;
    height: calc(100vh - 170px);
    margin: 100px auto 70px;
    padding: 0 30px 50px;

    background-color: var(--color-wrap);
    box-sizing: border-box;

    overflow-y: auto;
}